/* notification/badge use  */
.cart{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    padding-top: 8px;
    padding-left: 12px;
    background-color: lightgray;
}
.badge{
    position: absolute;
    top: 7px;
    right: 90px;
}
.carousel{
    background-color: #F6F9FC;
}
.left-slider-blue{
    height: 180px;
    width: 250px;
    border-radius: 12px;
    background-color: #E9F3FC;
}
.left-slider-yellow{
    height: 180px;
    width: 250px;
    border-radius: 12px;
    background-color: #F7F2EE;
}
.left-slider-green{
    height: 180px;
    width: 250px;
    border-radius: 12px;
    background-color: #E6F7F3;
}
.shop-now-blue{
    color: #71B3FD;
}
.shop-now-yellow{
    color: #FEA79A;
}
.shop-now-green{
    color: #84D697;
}
.card:hover{
    box-shadow: 5px 10px  30px grey;
}
/* offers part */
.offers{
 background-color: #F1F8FF;
 margin-top: 30px;

}
 .offer-images{
     height: 500px;
     position: relative;

     
 }
 .offer-images img{
     height: 240px;
     width: 300px;
    box-shadow: 5px 5px 20px gray; 
 }
 /* device offer hover   */
 .offer-images img:hover{
    transform:scale(1.05) translateY(-0.5rem);
    z-index: 11;
    outline: 1rem solid #63CDDA;
 } 
 .offers-img1{
   position: absolute;
   top: 35px;
   z-index: 10;
   transition: all 0.5s; 
   /* outline offset for space of full all side, box */
   outline-offset: 1rem;

 }
 .offers-img2{
    position: absolute;
    top: 90px;
    right: 290px;
    z-index: 10;
    /* transition all means transition duration */
    transition: all 0.2s;
    outline-offset: 1rem;
}
 .offers-img3{
    position: absolute;
    top: 255px;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1rem;
 }